* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.navbar-left,
.navbar-right {
   display: inline-block;
   
}
.navbar {
   position: relative;
   height: 60px;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-right {
   position: absolute;
   top: 15px;
   right: 0;
}

.navbar {
   background: #F2B705;
}
nav a{
	padding:0px 20px;
	font-size: 25px;
}

.navbar-brand,
.navbar .nav-link {
   text-decoration: none;
}
.navbar-brand{
	font-size: 40px;
	font-family: "Brush Script MT", cursive;
}
nav a:link { color: black; }
nav a:visited { color: black; }
nav a:hover { color: grey;}

main {
  padding: 5px;
  background-color: #FCF0CF;
  display: block;
	overflow: auto; 
}
.left{
	float: left;
	box-shadow: 0 0 10px rgba(0, 0, 0, 5);
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
h1,h3,h4, p{
	margin: 20px;
}
h1{
	font-size: 80px;
	font-family:'Lucida Handwriting', Cursive;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}
h3{
	font-size: 50px;
}
h4{
	font-size: 30px;
	}
p{
	font-size: 30px;
	margin-bottom: 40px;
}
footer { font-size: 100%;
		text-align: center;
		padding: 10px;
		background-color: #F2B705;
		color: black;
}
.background{ 
	margin-left: 750px;
	margin-right: 30px;
	margin-top: 100px;
}
.imgcon{
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(me.jpg);
  background-size: cover;
  background-position: center;
}
