* { box-sizing: border-box; }
body { background-image: url(hoa.jpg);
	background-size: 50%;
	font-family: Verdana, Arial, sans-serif; }
#wrapper { margin: 0 auto;
	width: 80%;
	min-width: 960px; max-width: 1200px;
	background-color: #FDCF76;
	color: #000066; 
	border:solid 1px;
}
img{ display: block;
	margin-left: auto;
	margin-right: auto;
}

header { background-color: #F2B705;
	color: Black;
	font-size: 180%;
	padding: 10px 10px 10px 155px;
	font-family:'Lucida Handwriting', Cursive;
}
header a { text-decoration: none; }
header a:link { color: Black; }
header a:visited { color: Black;}
header a:hover { color: #FFFFFF; }
main { background-color: #FCF0CF;
	color: #000000;
	padding: 20px 20px; 
	display: block;
	overflow: auto; 
	background-image: url(sun.jpg);
	background-repeat: repeat-x;
	background-size: 25px;
}
h1{
	margin-top: 70px;
	margin-left: 90px;
}
h2{
	text-align: center;
	font-size: 35px;
	color: #E49B0F;
}
h3{
	font-size: 20px;
}
p{
	font-size: 18px;
}
footer { font-size: 100%;
		text-align: center;
		padding: 10px;
		background-color: #F2B705;
		clear: both;
}
nav {
	  z-index:9999;
      position: fixed;
	  top: 0;
	  left: 0;
	  padding: 0.5em;
	  height: 40px;
	  background-color:#F2D479;
	  width: 79%;
	  font-size: 120%;
	  font-weight: bold;
	  min-width: 900px;
	  margin-left: 159px;
	  border-top: solid 2px;
	  border-bottom: solid 2px;
	
}
nav a { text-decoration: none;
	display: inline;
	text-align: center;
	padding:0px 100px;
}

nav a:link { color: Black; }
nav a:visited { color: Black; }
nav a:hover { color: #FF8C00;}
